<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut cumque dolor dolorum fugit harum illo illum iusto natus nemo neque, non placeat quia quibusdam quidem quis, sequi sint tempora vero voluptate. Dolores laborum libero maiores maxime quam, rem rerum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut cumque dolor dolorum fugit harum illo illum iusto natus nemo neque, non placeat quia quibusdam quidem quis, sequi sint tempora vero voluptate. Dolores laborum libero maiores maxime quam, rem rerum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut cumque dolor dolorum fugit harum illo illum iusto natus nemo neque, non placeat quia quibusdam quidem quis, sequi sint tempora vero voluptate. Dolores laborum libero maiores maxime quam, rem rerum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut cumque dolor dolorum fugit harum illo illum iusto natus nemo neque, non placeat quia quibusdam quidem quis, sequi sint tempora vero voluptate. Dolores laborum libero maiores maxime quam, rem rerum?</p>
  </div>
</div>
